{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}


{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}


    {% if menu_level == 0 %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        {% for item in items %}

          {% if(item.is_expanded)%}
            <li class="nav-item dropdown">
              {{ link(item.title, item.url, item.attributes.setAttribute('id', 'navbarDropdown').setAttribute('role', 'button').setAttribute('data-toggle', 'dropdown').setAttribute('aria-haspopup', 'true').setAttribute('aria-expanded', 'false').addClass('nav-link dropdown-toggle')) }}
              {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              {% endif %}
          {% else %}
            <li class="nav-item">
              {{ link(item.title, item.url, item.attributes.addClass('nav-link')) }}
          {% endif %}

          </li>

        {% endfor %}

    {% else %}
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for item in items %}
          {{ link(item.title, item.url, item.attributes.addClass('dropdown-item')) }}
        {% endfor %}
    {% endif %}


    {% if menu_level == 0 %}
      </ul>
    {% else %}
      </div>
    {% endif %}

  {% endif %}
{% endmacro %}

{#
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
</ul>
#}
