{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language dobody or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.page_top
 * - page.header
 * - page.mobile_menu
 * - page.primary_menu
 * - page.featured_top
 * - page.breadcrumb
 * - page.local_task
 * - page.highlighted
 * - page.help
 * - page.content
 * - page.right_sidebar
 * - page.search
 * - page.top
 * - page.bottom
 * - page.footer
 * - page.page_bottom
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="website">

  <div class="modal d-none"></div>

  <section id="mobile-navigation">
    {% if page.mobile_menu %}
    {{ page.mobile_menu }}
    {% endif %}
  </section>{# /#mobile-navigation #}

  <header id="mobile-header" class="d-md-none sticky-top">
    <div class="container-fuild">

      <div class="row px-2 pt-0">
        <div class="col-10">
          <h2>华人基督教网络团契</h2>
        </div>

        <div class="col-2 px-0 text-right">
          <div class="hamburger-container col-auto ml-auto">
            <a class="hamburger mobile-navigation-trigger" href="#"></a>
          </div>
        </div>

      </div>

    </div>
  </header>{# /#mobile-header #}


  <header id="layout-header" role="banner" class="d-none d-md-block sticky-top">
    <div class="container-fuild">
      <div class="row no-gutters">

        {% if page.header %}
        {{ page.header }}
        {% endif %}

        {% if page.primary_menu %}
        {{ page.primary_menu }}
        {% endif %}

      </div>
    </div>
  </header>{# /header#layout-header #}


  {% if page.featured_top %}
  {{ page.featured_top }}
  {% endif %}

  {% if page.local_task %}
  {{ page.local_task }}
  {% endif %}

  {% if page.breadcrumb %}
  {{ page.breadcrumb }}
  {% endif %}

  {% if page.highlighted %}
  {{ page.highlighted }}
  {% endif %}

  {% if page.help %}
  {{ page.help }}
  {% endif %}


  <section id="layout-body" class="pt-sm-5 pt-md-0 pt-lg-0">
    <div class="container">
      <div class="row">
        {% if page.right_sidebar %}<div class="col-9">{% else %}<div class="col-12">{% endif %}
          {% if page.content %}
          {{ page.content }}
          {% endif %}
        </div>
        <div class="col-3">
          {% if page.right_sidebar %}
          {{ page.right_sidebar }}
          {% endif %}
        </div>
      </div>
    </div>
  </section>{# /section#layout-body #}

  <footer id="layout-footer">
  </footer>{# /footer#layout-footer #}

</div>{# /.website #}
